$orange: #ff5100;
$blue: #9bb7d3;
$white: #ffffff;
$lightgray: #d1d4d7;
$darkgray: #53575a;
$fontReg: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$fontSemi: 'OpenSans-SemiBold', Arial, Helvetica, sans-serif;
$fontBold: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
$border-radius: 10px;

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(/Onboarding/src/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(/Onboarding/src/assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(/Onboarding/src/assets/fonts/OpenSans-Bold.ttf);
}

@mixin heading($size: 24px) {
  font-family: $fontSemi;
  font-size: $size;
  color: $darkgray;
}

@mixin txt($size: 16px) {
  font-family: $fontReg;
  font-size: $size;
  color: $darkgray;
}
@mixin btn($bgcolor: $orange, $color: $white) {
  background-color: $bgcolor;
  color: $color;
  border-radius: $border-radius;
  border: none;
  height: 3rem;
  font-family: $fontBold;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background-color: #cc4101;
  }
}

@mixin backBtn($color: $darkgray) {
  background: none;
  border: none;
  padding: 0;
  font-family: $fontSemi;
  font-size: 16px;
  color: $color;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.7;
}
}

@mixin tableBox($background-color: $blue) {
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $background-color;

      th {
        @include txt(20px);

        text-align: left;
        padding: 1.4rem 2rem;
        font-family: $fontSemi;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        transition: 0.2s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }

        &:last-child {
          border-bottom: none;
        }

        td {
          padding: 1.5rem 2rem;

          @include txt(18px);
        }
      }
    }
  }
}
